/* You can add global styles to this file, and also import other style files */
$primary-color: #600FB2;
$secondary-color : #4C0D8B;
$text-button-color : #ffffff;
// $wallet-amount-color : #69F175;
$wallet-amount-color: #0F996D;
$dream-card-btn : #ABABAB;
$badge-bg-color : #12FA09;
$error-message-color : #ff0000;
